<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  * {margin: 0; padding: 0; font-family: sans-serif;}

  #body {
    width: 100%;
  }

  #header, #profissional, #academico, #curso, #deficiencia {margin-bottom: 12px;}

  h1 {margin-bottom: 2px; font-size: 20px;}
  h3 {font-size: 18px}
  p {font-size: 18px}
</style>

<body>
  <div id="body">
    <div id="header">
      <h2><%= resume.fullName %></h2>
      <p><%= resume.district %> | <%= resume.city %> | <%= resume.state %></p>
      <p><%= resume.number ? resume.number : null %><%= resume.email %></p>
      <p><%= `${Math.floor((new Date() - new Date(resume.bornDate).getTime()) / 3.15576e+10)} anos`%> | <%= resume.maritalStatus %></p>
      <p><%= resume.linkedin ? resume.linkeding : null %></p>
      <p><strong><%= resume.purpose ? `Objetivo: ${resume.purpose}` : null %></strong></p>
    </div>
    
    <% if (resume.professionalExperiences?.length > 0 ) { %>
      <div id="profissional">
        <h3>EXPERIÊNCIA PROFISSIONAL:</h3>
        <hr>
          <% resume.professionalExperiences.forEach(experience => { %>
          <p><%= experience.businessName %> </p>
          <p><strong>Cargo: </strong><%= `${experience.position}` %></p>
          <p><strong>Período: </strong><%= `${((new Date(experience.startDate).getDate() )) + "/" + ((new Date(experience.startDate).getMonth() + 1)) + "/" + new Date(experience.startDate).getFullYear()}` %> - <%= experience.nowExperience && experience.endDate ? `${((new Date(experience.endDate.getDate() )) + "/" + ((new Date(experience.endDate).getMonth() + 1)) + "/" + new Date(experience.endDate).getFullYear())}` : `Atualmente`%></p>
          <p><%= experience.description ? experience.description : null %></p>
          <br/>
        <% }) %>
      </div>
    <% } %>

    <% if (resume.schoolEducation?.length > 0 ) { %>
      <div id="academico">
        <h3>FORMAÇÃO ACADÊMICA:</h3>
        <hr>
          <% resume.schoolEducation.forEach(formacao => { %>
          <p><%= formacao.schoolName %></p>
          <p><strong>Curso: </strong><%= `${formacao.course}` %> | <%= `Nível: ${formacao.posicao}` %> </p>
          <p><strong>Período: </strong><%= `${((new Date(formacao.startDate).getDate() )) + "/" + ((new Date(formacao.startDate).getMonth() + 1)) + "/" + new Date(formacao.startDate).getFullYear()}` %> - <%= formacao.nowCoursing && formacao.endDate ? `${((new Date(formacao.endDate.getDate() )) + "/" + ((new Date(formacao.endDate).getMonth() + 1)) + "/" + new Date(formacao.endDate).getFullYear())}` : `Atualmente`%></p>
          <br/>
        <% }); %>
      </div>
    <% } %>
    
    <% if (resume.aditionalCourses?.length > 0 ) { %>
      <div id="curso">
        <h3>CURSOS DE APERFEIÇOAMENTO E ÁREAS DE EXPERIÊNCIA:</h3>
        <hr>  
        <% resume.aditionalCourses.forEach (cursoextra => { %>
          <p><%= cursoextra.schoolName %></p>
          <p><strong>Curso: </strong><%= `${cursoextra.courseName}` %> | <%= `Nível: ${cursoextra.level}` %></p>
          <p><strong>Período: </strong><%= `${((new Date(cursoextra.startDate).getDate() )) + "/" + ((new Date(cursoextra.startDate).getMonth() + 1)) + "/" + new Date(cursoextra.startDate).getFullYear()}` %> - <%= cursoextra.nowCoursing && cursoextra.endDate ? `${((new Date(cursoextra.endDate.getDate() )) + "/" + ((new Date(cursoextra.endDate).getMonth() + 1)) + "/" + new Date(cursoextra.endDate).getFullYear())}` : `Atualmente`%></p>
          <br/>
        <% }); %>
      </div>
    <% } %>
    
    <% if (resume.ability?.length > 0 ) { %>
      <div id="curso">
        <h3>HABILIDADES:</h3>
        <hr>  
        <% resume.ability.forEach (ability => { %>
          <p><%= ability.name %></p>
          <p><%= `Nível: ${ability.name}` %></p>
          <br/>
        <% }); %>
      </div>
    <% } %>

    <% if (resume.cidNumber) { %>
      <div id="deficiencia">
        <h3>INFORMAÇÕES SOBRE A DEFICIÊNCIA:</h3>
        <hr>
        <p><%= resume.cidNumber ? `Número CID: ${resume.cidNumber}` : null %></p>
        <p><%= resume.deficiencyLevel ? resume.deficiencyLevel : null %></p>
        <p><%= resume.haveCertificate ? `Possuí certificado médico? Sim` : `Possuí certificado médico? Não` %></p>
        <p><%= resume.addaptationDescription ? resume.addaptationDescription : null%></p>
        <p><%= resume.limitationDescription ? resume.limitationDescription : null%></p>

      </div>
    <% } %>

  </div>
</body>
</html>
